html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



html,body{
    overflow-x: hidden;
}

#navbar {
    padding: 10px 5px;
    overflow: hidden;
    background-color: #000000;
    transition: 0.4s ease;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

#navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

#navbar #logo {
    font-size: 25px;
    transition: 0.4s;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

#navbar a.active {
    background-color: dodgerblue;
    color: white;
}

#navitems {
    margin-right: 2%;
    float: right;
}

/*@media screen and (max-width: 580px) */
/*{*/
/*    #navbar */
/*    {*/
/*      padding: 20px 10px !important;*/
/*    }*/
/*    #navbar a {*/
/*        float: none;*/
/*        display: block;*/
/*        text-align: left;*/
/*      }*/
/*      #navbar-right {*/
/*        float: none;*/
/*      }*/
/*}*/

/*-----------------------------------------------------------------------FIRST DIVISION-----------------------------------------------------------------*/

canvas {
    
    width: 100%;
    height: 100vh;

}

#particles {
    min-height: 100vh;
    max-height: fit-content;
    width: 100%;
    background: url("bg.png") no-repeat fixed center;
    background-size: cover;
    position: relative;
}

.text {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    color: #fff;
    max-width: 90%;
    padding: 2em 3em;
    background: rgba(0, 0, 0, 0.6);
    text-shadow: 0px 0px 2px #131415;
    font-family: 'Open Sans', sans-serif;
    border-radius: 30px;
}

.text h1 {
    font-size: 3.25em;
    font-weight: 700;
    letter-spacing: 1px;
}

@media screen and (max-width: 803px) {
    /* #particles {
        width: 100vh;
    }

    #about {
        width: 100vh !important;
    }

    #skills-heading {
        width: 100vh !important;
    }

    #fourth-div {
        width: 100vh !important;
    }
    #fifth-div{
        width: 100vh !important;
    } */

}

/*-------------------------------------------------------------------ABOUT SECTIOM------------------------------------------------------------------------*/
#about {
    margin-top: 4%;
    width: 100%;
    height: max-content;
    min-height: 100vh;
}

#about h1 {
    margin-top: 2%;
    text-align: center;
}

#about #pic img {
    margin-left: 25%;
    height: 300px;
    width: 300px;
    float: left;
    margin-top: 8%;
    border-radius: 50%;
}

#about #content {
    margin-top: 5%;
    font-size: 18px;

    float: right;
}

[aos="fade"] {
    opacity: 0;
    transition-property: opacity;
}

[aos="fade"].aos-animate {
    opacity: 1;
}

@media screen and (max-width:770px) {
    #about #content {
        padding: 10%;
    }
}

/*-----------------------------------------------------------------------SKILLS SECTION-------------------------------------------------------------------*/


#skills-heading h1 {
    text-align: center;
    color: #ffffff;
}

#skills-heading {
    padding-top: 40px;
    width: 100%;
    height: 100vh;
    background: url("wood-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.container .skills {
    position: relative;
    display: flex;
    margin: 20px 0;
    padding: 24px 10px 18px;
    background-color: transparent;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.5s;
}



.container .skills .Name {
    position: relative;
    width: 110px;
    color: #fff;
}

.container .skills .per-value {
    position: relative;
    width: 110px;
    color: #fff;
}

.container .skills .percentage {
    position: relative;
    width: calc(100% - 150px);
    height: 20px;
    margin: 0 10px;
    border-radius: 10px;
    background: #151515;
    box-shadow: inset 0 0 10px #000;
    overflow: hidden;
}

.container .skills .percentage .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(45deg, #3bc0ff, #33ff00);
    box-shadow: inset 0 0 2px #000;
    animation: animate 2s ease-in-out forwards;
}

@keyframes animate {
    from {
        width: 0;
    }
}

.container:hover .skills {
    opacity: 0.05;
}

.container .skills:hover {
    opacity: 1;
}

.skill-section {
    margin-top: 5%;
    width: 600px;
    height: 400px;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------------PROJECTS-----------------------------------------------------------*/

.card-style {
    padding: 5% !important;
}



#fourth-div {
    /* width: 100vh; */
    min-height: 100vh;
    height: max-content;

    padding-right: 100px;
    background: url("waterpaint-bg.jpg");
    justify-content: center;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.card-project {
    margin-left: 10%;
    float: left;
    width: 100%;
    /* display: grid; */
    height: max-content;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image""text""stats";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
}

.first-card {
    height: max-content;
}

.card-image {
    grid-area: image;
    margin-left: 2%;
    background-image: url("sorting.png");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text {
    margin-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    grid-area: text;
}

.card-stats {
    padding-left: 100px;
    overflow: hidden;
    background-color: rgb(153, 204, 255);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    text-align: center;
    display: flex;
    color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    grid-area: stats;
}

.card-stats .pic1 img {
    margin-top: 5%;
    margin-left: 30%;
    float: left;
    width: 50px;
    height: 50px;
}

.card-stats .pic2 img {
    width: 150px;
    height: 150px;
    margin-top: -33%;
    margin-right: 15%;
    float: right;
}


.card2 {
    overflow: hidden;
    margin-left: 10%;
    float: left;
    width: 100%;
    /* display: grid; */
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image""text""stats";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(126, 78, 78, 0.9);
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
}

.card-image2 {
    grid-area: image;
    margin-left: 2%;
    margin-top: 3%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text2 {
    margin-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    grid-area: text;
}

.card-stats2 {
    height: 100px;
    background-color: rgb(255, 153, 153);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 101.4%;
    text-align: center;
    color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    grid-area: stats;
}

.card-stats2 .pic3 img {
    margin-left: 30%;
    margin-top: 5%;
    float: left;
    width: 50px;
    height: 50px;
}

.card-stats2 .pic4 img {
    margin-right: 30%;
    margin-top: 5%;
    float: right;
    width: 50px;
    height: 50px;
}

.card3 {

    overflow: hidden;
    float: left;
    margin-left: 10%;
    width: 100%;
    /* display: grid; */
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image""text""stats";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
}

.card-image3 {

    grid-area: image;
    margin-left: 2%;
    margin-top: 3%;
    background-image: url("sorting.png");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text3 {
    margin-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    grid-area: text;
}

.card-stats3 {
    height: 100px;
    background-color: rgb(153, 255, 153);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 101.5%;
    text-align: center;
    color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    grid-area: stats;
}



.card:hover,
.card2:hover,
.card3:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.6);
}

/*------------------------------------------------------------------------CONTACT-----------------------------------------------------------------*/

#fifth-div {
    width: 100%;
    height: 100vh;
    background-color: black;
}

.social {
    margin-top: 100px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    max-width: 100%;
    display: flex;
    height: max-content;
}
.fifth-heading{
    
    margin-left: auto;
    margin-right: auto;
}

.fifth-heading h2 {
    
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 35px;
}

.info{
    margin-left: auto;
    margin-right: auto;
}
.info h3 {
    /* position: absolute; */
    margin-top: 100px;
    /* margin-left: 44%; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: white;
}

.email img {

    /* margin-left: 36%; */
    /* margin-top: 15%; */
    width: 50px;
    height: 62px;
}

.linkedin img {
    margin-left: 40px;
    margin-top: 5%;
    /* margin-left: 43%; */
    width: 45px;
    height: 47px;
}

.discord img {
    
    margin-left: 40px;
    /* margin-left: 49%; */
    margin-top: 10%;
    width: 60px;
    height: 44px;
}

.instagram img {
    
    margin-left: 20px;
    width: 70px;
    height: 61px;
    /* margin-top: -4.2%; */
    /* margin-left: 55%; */
}

.github img {
    
    margin-left: 15px;
    margin-top: -5%;
    /* margin-left: 61%; */
    width: 75px;
    height: 75px;
}


.feedback-section {
    margin-left: auto;
    margin-top: 32px;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.2);
    height: 280px;
    width: 350px;
}

input[type=text] {
    color: white;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    margin-top: 5%;
    margin-left: 8%;
    width: 300px;
}

.message {
    color: white;
    margin-top: 1%;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid white;
    margin-top: 5%;
    margin-left: 8%;
    width: 300px;
}

::placeholder {
    color: white;
}


.footer {
    text-align: center;
}
.btn{
    margin-left: 130px;
    background-color: white;
    margin-right: auto;
    margin-top: 10px;
}
